<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="start.css">
	<title>Worzett</title>
</head>
<body>

{{> header}}
<header>
	
  <nav id="top">
  	<ul>
        <li><a href="/" style="text-decoration: none;">Home</a></li>
  		<li style="background-color: aqua; border-radius: 20px">About</li>
  		<li>Languages</li>
  		<li>Question</li>
  		<li>Search</li>
  	</ul>
  </nav>


</header>
<article>
	<p>Lets start Something New...</p>
	
</article>

{{> footer}}

</body>
</html>