<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="start.css">
	<title>Worzett</title>
</head>
<body>
{{> header}}
<header>
	
  <nav id="top">
  	<ul>
  		<li style="background-color: aqua; border-radius: 20px">Home</li>
  		<li><a href="/about" style="text-decoration: none;">About</a></li>
  		<li>Languages</li>
  		<li>Question</li>
  		<li>Search</li>
  	</ul>
  </nav>


</header>
<article>
	<p>Welcome to home page..</p>
	<p>Lets learn something new on homepage.</p>
	
</article>

{{> footer}}

</body>
</html>